<section class="content my-xl-3 my-5 py-xl-4 py-5">
    <div class="container-fluid">
        <div class="row gy-3">
            <!-- side nav -->
            <div class="col-xl-3">
                <!--   start panel menu mobile  -->
                @await Component.InvokeAsync("UserMobileDashboard")
                <!--   end panel menu mobile   -->
                <!--   start panel menu desktop  -->
                @await Component.InvokeAsync("UserSidebarDashboard")
                <!--   end panel menu desktop  -->
            </div>
            <!-- main content -->
            <div class="col-xl-9">
                <!-- status card -->
                <div class="row gy-3">
                    <div class="col-md-4">
                        <div class="status-card d-flex align-items-center">
                            <i class="bi bi-wallet2"></i>
                            <div class="ms-3">
                                <h6 class="mt-2 text-start">کیف پول</h6>
                                <p>موجودی: تومان</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="status-card d-flex align-items-center">
                            <i class="bi bi-bag-check"></i>
                            <div class="ms-3">
                                <h6 class="mt-2 text-start">سفارش‌ها</h6>
                                <p>سفارشی ثبت نشده</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="status-card d-flex align-items-center">
                            <i class="bi bi-ticket-perforated"></i>
                            <div class="ms-3">
                                <h6 class="mt-2 text-start">تیکت‌ها</h6>
                                <p>تیکتی ثبت نشده</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- order -->
                <div class="order-widget mt-4">
                    <h5 class="fw-bold icon-circle">سفارش‌ها</h5>

                    <ul class="nav nav-tabs mt-3 border-0" id="orderTabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active cart-tab" data-bs-toggle="tab" href="#delivered" aria-selected="true" role="tab">تحویل شده</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link cart-tab" data-bs-toggle="tab" href="#current" aria-selected="false" tabindex="-1" role="tab">جاری</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link cart-tab" data-bs-toggle="tab" href="#returned" aria-selected="false" tabindex="-1" role="tab">مرجوع شده</a>
                        </li>
                    </ul>

                    <div class="tab-content mt-3">
                        <div class="tab-pane fade show active" id="delivered" role="tabpanel">
                            <div class="orders-container">
                                <div class="orders">
                                    <div class="order-item">
                                        <a href="">
                                            <div class="order-item-status">
                                                <div class="order-item-status-item">
                                                    <p>
                                                        <i class="bi bi-bag-check-fill"></i>
                                                        <span>تحویل شده</span>
                                                    </p>
                                                </div>
                                                <div class="order-item-status-item">
                                                    <p>
                                                        <i class="bi bi-arrow-left pointer text-dark"></i>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="order-item-detail">
                                                <ul class="nav">
                                                    <li class="nav-item text-muted">
                                                        29 خرداد 1399
                                                    </li>
                                                    <li class="nav-item">
                                                        <span class="text-mute">کد سفارش</span>
                                                        <strong>17745651</strong>
                                                    </li>
                                                    <li class="nav-item">
                                                        <span class="text-mute">مبلغ</span>
                                                        <strong>25,000,000 تومان</strong>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="order-item-product-list">
                                                <div class="order-item-product-list-item">
                                                    <img src="~/MainTemplate/assets/image/product/product-image1.jpg" alt="" class="img-thumbnail" width="70" height="70">
                                                </div>
                                                <div class="order-item-product-list-item">
                                                    <img src="~/MainTemplate/assets/image/product/product-image3.jpg" alt="" class="img-thumbnail" width="70" height="70">
                                                </div>
                                                <div class="order-item-product-list-item">
                                                    <img src="~/MainTemplate/assets/image/product/product-image4.jpg" alt="" class="img-thumbnail" width="70" height="70">
                                                </div>
                                                <div class="order-item-product-list-item">
                                                    <img src="~/MainTemplate/assets/image/product/product-image5.jpg" alt="" class="img-thumbnail" width="70" height="70">
                                                </div>
                                                <div class="order-item-product-list-item">
                                                    <img src="~/MainTemplate/assets/image/product/product-image6.jpg" alt="" class="img-thumbnail" width="70" height="70">
                                                </div>
                                            </div>
                                            <div class="order-item-show">
                                                <p><i class="bi bi-card-list"></i> مشاهده فاکتور</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="order-item">
                                        <a href="">
                                            <div class="order-item-status">
                                                <div class="order-item-status-item">
                                                    <p>
                                                        <i class="bi bi-bag-check-fill"></i>
                                                        <span>تحویل شده</span>
                                                    </p>
                                                </div>
                                                <div class="order-item-status-item">
                                                    <p>
                                                        <i class="bi bi-arrow-left pointer text-dark"></i>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="order-item-detail">
                                                <ul class="nav">
                                                    <li class="nav-item text-muted">
                                                        29 خرداد 1399
                                                    </li>
                                                    <li class="nav-item">
                                                        <span class="text-mute">کد سفارش</span>
                                                        <strong>17745651</strong>
                                                    </li>
                                                    <li class="nav-item">
                                                        <span class="text-mute">مبلغ</span>
                                                        <strong>25,000,000 تومان</strong>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="order-item-product-list">
                                                <div class="order-item-product-list-item">
                                                    <img src="~/MainTemplate/assets/image/product/product-image1.jpg" alt="" class="img-thumbnail" width="70" height="70">
                                                </div>
                                                <div class="order-item-product-list-item">
                                                    <img src="~/MainTemplate/assets/image/product/product-image3.jpg" alt="" class="img-thumbnail" width="70" height="70">
                                                </div>
                                                <div class="order-item-product-list-item">
                                                    <img src="~/MainTemplate/assets/image/product/product-image4.jpg" alt="" class="img-thumbnail" width="70" height="70">
                                                </div>
                                                <div class="order-item-product-list-item">
                                                    <img src="~/MainTemplate/assets/image/product/product-image5.jpg" alt="" class="img-thumbnail" width="70" height="70">
                                                </div>
                                                <div class="order-item-product-list-item">
                                                    <img src="~/MainTemplate/assets/image/product/product-image6.jpg" alt="" class="img-thumbnail" width="70" height="70">
                                                </div>
                                            </div>
                                            <div class="order-item-show">
                                                <p><i class="bi bi-card-list"></i> مشاهده فاکتور</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="current" role="tabpanel">
                            <div class="orders-container">
                                <div class="orders">
                                    <div class="order-item">
                                        <a href="">
                                            <div class="order-item-status">
                                                <div class="order-item-status-item">
                                                    <p>
                                                        <i class="bi bi-circle-half"></i>
                                                        <span>پردازش انبار</span>
                                                    </p>
                                                </div>
                                                <div class="order-item-status-item">
                                                    <p>
                                                        <i class="bi bi-arrow-left pointer text-dark"></i>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="order-item-detail">
                                                <ul class="nav">
                                                    <li class="nav-item text-muted">
                                                        29 خرداد 1399
                                                    </li>
                                                    <li class="nav-item">
                                                        <span class="text-mute">کد سفارش</span>
                                                        <strong>17745651</strong>
                                                    </li>
                                                    <li class="nav-item">
                                                        <span class="text-mute">مبلغ</span>
                                                        <strong>25,000,000 تومان</strong>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="order-item-product-list">
                                                <div class="order-item-product-list-item">
                                                    <img src="~/MainTemplate/assets/image/product/product-image1.jpg" alt="" class="img-thumbnail" width="70" height="70">
                                                </div>
                                                <div class="order-item-product-list-item">
                                                    <img src="~/MainTemplate/assets/image/product/product-image3.jpg" alt="" class="img-thumbnail" width="70" height="70">
                                                </div>
                                                <div class="order-item-product-list-item">
                                                    <img src="~/MainTemplate/assets/image/product/product-image4.jpg" alt="" class="img-thumbnail" width="70" height="70">
                                                </div>
                                                <div class="order-item-product-list-item">
                                                    <img src="~/MainTemplate/assets/image/product/product-image5.jpg" alt="" class="img-thumbnail" width="70" height="70">
                                                </div>
                                                <div class="order-item-product-list-item">
                                                    <img src="~/MainTemplate/assets/image/product/product-image6.jpg" alt="" class="img-thumbnail" width="70" height="70">
                                                </div>
                                            </div>
                                            <div class="order-item-show">
                                                <p><i class="bi bi-card-list"></i> مشاهده فاکتور</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="returned" role="tabpanel">
                            <div class="orders-container">
                                <div class="empty-state">
                                    <img src="~/MainTemplate/assets/image/no-food.gif" alt="جعبه خالی">
                                    <p class="mt-2 text-muted">هیچ سفارشی مرجوع نشده است.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>