@using Pharmacy.Application.Utilities
@{
    var avatar = ViewBag.AvatarImage;
}

<aside class="profile-card d-xl-block d-none">
    <div class="profile-header d-flex align-items-center">
        <img src="@(!string.IsNullOrEmpty(avatar) ?
                                   PathExtension.UserAvatarOrigin + avatar : PathExtension.DefaultAvatar)"
             alt="تصویر پروفایل" title="تصویر پروفایل" @* class="img-fluid rounded-circle profile-avatar" width="60" height="60" *@>
        <div class="ms-3">
            <h6 class="mt-2">@User.Identity.Name</h6>
            <div class="d-flex align-items-center justify-content-between">
                <p class="text-muted small mt-1">عزیز حوش آمدید</p>
                <a alt="ویرایش مشخصات" asp-controller="Account" asp-action="EditProfile" class="ms-2"><i class="text-warning bi bi-pencil-square"></i></a>
                <a asp-controller="Account" asp-action="ChangePassword" class="ms-2"><i class="text-danger bi bi-lock-fill"></i></a>
            </div>
        </div>
    </div>
    <div class="profile-menu">
        <a href="#" class="active"><i class="bi bi-shop-window"></i> خلاصه فعالیت</a>
        <a href="#"><i class="bi bi-bag"></i> سفارش‌ها</a>
        <a href="#"><i class="bi bi-bell"></i> دیدگاه‌ها</a>
        <a href="#"><i class="bi bi-heart"></i> لیست علاقه‌مندی</a>
        <a href="#"><i class="bi bi-person"></i> اطلاعات حساب کاربری</a>
        <a asp-controller="Account" asp-action="Logout" class="logout"><i class="bi bi-box-arrow-right"></i> خروج</a>
    </div>
</aside>