@model Pharmacy.Application.DTO.Account.RegisterUserDto

@{
    ViewData["Title"] = "ثبت نام کاربر";
}

@section script {
    <partial name="_JqueryValidators" />
    @* <partial name="_CaptchaScript" /> *@
}

<section class="content vh-100">
    <div class="container-fluid h-100">
        <div class="auth h-100 d-flex align-items-center">
            <div class="container-fluid">
                <div class="auth-items">
                    <div class="row justify-content-center">
                        <div class="col-lg-4">
                            <div class="auth-form shadow-xl rounded-3  mt-5 bg-white">
                                <div class="auth-form-title header-logo d-flex align-items-center justify-content-between title-panel mb-4 slider-title-desc-center">
                                    <h2 class="text-center h4 text-muted title-font"> ثبت نام</h2>
                                    <a href="">
                                        <img src="~/MainTemplate/assets/image/logo.png" class="auth-logo" alt="">
                                    </a>
                                </div>
                                <form class="py-3" asp-area="" asp-controller="Account" asp-action="RegisterUser" method="post">
                                    @*  <partial name="_CaptchaInput" model="@(new CaptchaDto())" /> *@
                                    <div class="comment-item mb-4">
                                        <input type="text" asp-for="FirstName" class="form-control">
                                        <label class="form-label label-float">
                                            نام <span class="text-danger">*</span>
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </label>
                                    </div>
                                    <div class="comment-item mb-4">
                                        <input type="text" asp-for="LastName" class="form-control">
                                        <label class="form-label label-float">
                                            نام خانوادگی
                                            <span class="text-danger">*</span>
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </label>
                                    </div>
                                    <div class="comment-item mb-4">
                                        <input type="text" asp-for="Mobile" class="form-control">
                                        <label class="form-label label-float">
                                            شماره همراه
                                            <span class="text-danger">*</span>
                                            <span asp-validation-for="Mobile" class="text-danger"></span>
                                        </label>
                                    </div>
                                    <div class="comment-item mb-3 step-username">
                                        <input type="email" asp-for="Email" class="form-control">
                                        <label class="form-label label-float">
                                            ایمیل
                                            <span class="text-danger">(اختیاری)</span>
                                        </label>
                                    </div>
                                    <div class="comment-item mb-3 step-username">
                                        <input type="password" asp-for="Password" class="form-control">
                                        <label class="form-label label-float">
                                            رمز عبور
                                            <span class="text-danger">*</span>
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </label>
                                    </div>
                                    <div class="comment-item mb-3 step-username">
                                        <input type="password" asp-for="ConfirmPassword" class="form-control">
                                        <label class="form-label label-float">
                                            تکرار رمز عبور
                                            <span class="text-danger">*</span>
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </label>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn main-color-two-bg text-white w-100 mb-2 py-3">ثبت نام</button>
                                    </div>
                                    <div class="text-center">
                                        <a asp-controller="Account" asp-action="Login" class="btn main-color-three-bg text-white w-100 py-3">حساب کاربری دارید؟ ورود</a>
                                    </div>
                                </form>

                            </div>
                            <p class="loginTermsDesc lh-lg mt-3">
                                با ورود و یا ثبت نام در بوکان آنلاین شما <a class="underlined fw-bold" href="/rules/">
                                    شرایط و
                                    قوانین
                                </a> استفاده از سرویس‌های سایت سایت و <a class="underlined fw-bold" href="/privacy-polices/">
                                    قوانین حریم
                                    خصوصی
                                </a> آن را می‌پذیرید.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>