<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from rtl-preview.ir/RTL/dashtreme/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 26 Dec 2020 23:05:16 GMT -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>داش ترم - قالب مدیریت چند منظوره بوت استرپ 4</title>
 <partial name="_HeaderReferences" />

</head>

<body class="bg-theme bg-theme1">

    <!-- Start wrapper-->
    <div id="wrapper">

        <div class="loader-wrapper"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>

        <!--Start sidebar-wrapper-->
       <partial name="_AdminSidebarMenu" />
        <!--End sidebar-wrapper-->
        <!--Start topbar header-->
        <partial name="_TopBarHeader" />
        <!--End topbar header-->

        <div class="clearfix"></div>

        <div class="content-wrapper">
            <div class="container-fluid">

                <!--Start Dashboard Content-->


                @RenderBody()

             
                <!--End Dashboard Content-->

            </div>
            <!-- End container-fluid-->

        </div><!--End content-wrapper-->
        <!--Start Back To Top Button-->
        <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
        <!--End Back To Top Button-->
        <!--Start footer-->
        <footer class="footer">
            <div class="container">
                <div class="text-center">
                    کپی رایت © 2018 مدیریت داش ترم
                </div>
            </div>
        </footer>
        <!--End footer-->
        <!--start color switcher-->
        <partial name="_SiteColorSidebar" />
       
        <!--end color cwitcher-->

    </div><!--End wrapper-->
    <!-- Bootstrap core JavaScript-->
   <partial name="_FooterReferences" />

    <script>
        $(function() {
            $(".knob").knob();
        });
    </script>
    <!-- Index js -->
    <script src="~/Admin/assets/js/index.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>


<!-- Mirrored from rtl-preview.ir/RTL/dashtreme/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 26 Dec 2020 23:05:57 GMT -->
</html>
