<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from rtl-preview.ir/RTL/dashtreme/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 26 Dec 2020 23:05:16 GMT -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>داش ترم - قالب مدیریت چند منظوره بوت استرپ 4</title>
    <!--favicon-->
    <link rel="icon" href="~/Admin/assets/images/favicon.ico" type="image/x-icon">
    <!-- Vector CSS -->
    <link href="~/Admin/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <!-- simplebar CSS-->
    <link href="~/Admin/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <!-- Bootstrap core CSS-->
    <link href="~/Admin/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="~/Admin/assets/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="~/Admin/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Sidebar CSS-->
    <link href="~/Admin/assets/css/sidebar-menu.css" rel="stylesheet" />
    <!-- Custom Style-->
    <link href="~/Admin/assets/css/app-style.css" rel="stylesheet" />

</head>

<body class="bg-theme bg-theme1">

    <!-- Start wrapper-->
    <div id="wrapper">

        <div class="loader-wrapper"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>

        <!--Start sidebar-wrapper-->
        <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
            <div class="brand-logo">
                <a href="index-2.html">
                    <img src="~/Admin/assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
                    <h5 class="logo-text">مدیریت داش ترم</h5>
                </a>
            </div>
            <div class="user-details">
                <div class="media align-items-center user-pointer collapsed" data-toggle="collapse" data-target="#user-dropdown">
                    <div class="avatar"><img class="mr-3 side-user-img" src="~/Admin/assets/images/avatars/avatar-13.png" alt="user avatar"></div>
                    <div class="media-body">
                        <h6 class="side-user-name">آرش خادملو</h6>
                    </div>
                </div>
                <div id="user-dropdown" class="collapse">
                    <ul class="user-setting-menu">
                        <li><a href="javaScript:void();"><i class="icon-user"></i>  پروفایل من</a></li>
                        <li><a href="javaScript:void();"><i class="icon-settings"></i> تنظیمات</a></li>
                        <li><a href="javaScript:void();"><i class="icon-power"></i> خروج</a></li>
                    </ul>
                </div>
            </div>
            <ul class="sidebar-menu do-nicescrol">
                <li class="sidebar-header">منوی اصلی</li>
                <li>
                    <a href="index-2.html" class="waves-effect">
                        <i class="zmdi zmdi-view-dashboard"></i> <span>داشبورد</span>
                    </a>
                </li>
                <li>
                    <a href="javaScript:void();" class="waves-effect">
                        <i class="zmdi zmdi-layers"></i>
                        <span>عناصر رابط کاربری</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="sidebar-submenu">
                        <li><a href="ui-typography.html"><i class="zmdi zmdi-long-arrow-right"></i> تایپوگرافی</a></li>
                        <li><a href="ui-cards.html"><i class="zmdi zmdi-long-arrow-right"></i> کارت ها</a></li>
                        <li><a href="ui-buttons.html"><i class="zmdi zmdi-long-arrow-right"></i> دکمه ها</a></li>
                        <li><a href="ui-nav-tabs.html"><i class="zmdi zmdi-long-arrow-right"></i> زبانه های منو</a></li>
                        <li><a href="ui-accordions.html"><i class="zmdi zmdi-long-arrow-right"></i> آکاردئون ها</a></li>
                        <li><a href="ui-modals.html"><i class="zmdi zmdi-long-arrow-right"></i> مدال ها</a></li>
                        <li><a href="ui-list-groups.html"><i class="zmdi zmdi-long-arrow-right"></i> گروه لیست</a></li>
                        <li><a href="ui-bootstrap-elements.html"><i class="zmdi zmdi-long-arrow-right"></i> عناصر بوت</a></li>
                        <li><a href="ui-pagination.html"><i class="zmdi zmdi-long-arrow-right"></i> صفحه بندی</a></li>
                        <li><a href="ui-alerts.html"><i class="zmdi zmdi-long-arrow-right"></i> هشدار ها</a></li>
                        <li><a href="ui-progressbars.html"><i class="zmdi zmdi-long-arrow-right"></i> نوار پیشرفت</a></li>
                        <li><a href="ui-checkbox-radio.html"><i class="zmdi zmdi-long-arrow-right"></i> چک باکس و رادیو</a></li>
                        <li><a href="ui-notification.html"><i class="zmdi zmdi-long-arrow-right"></i> اطلاعیه ها</a></li>
                        <li><a href="ui-sweet-alert.html"><i class="zmdi zmdi-long-arrow-right"></i> هشدارهای شیرین</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javaScript:void();" class="waves-effect">
                        <i class="zmdi zmdi-card-travel"></i>
                        <span>اجزاء سازنده</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="sidebar-submenu">
                        <li><a href="components-range-slider.html"><i class="zmdi zmdi-long-arrow-right"></i> اسلایدر محدوده</a></li>
                        <li><a href="components-image-carousel.html"><i class="zmdi zmdi-long-arrow-right"></i> گردونه تصویر</a></li>
                        <li><a href="components-grid-layouts.html"><i class="zmdi zmdi-long-arrow-right"></i> طرح بندی گرید</a></li>
                        <li><a href="components-switcher-buttons.html"><i class="zmdi zmdi-long-arrow-right"></i> دکمه های سوییچر</a></li>
                        <li><a href="components-pricing-table.html"><i class="zmdi zmdi-long-arrow-right"></i> جداول قیمت</a></li>
                        <li><a href="components-vertical-timeline.html"><i class="zmdi zmdi-long-arrow-right"></i> زمان بندی عمودی</a></li>
                        <li><a href="components-horizontal-timeline.html"><i class="zmdi zmdi-long-arrow-right"></i> زمان بندی افقی</a></li>
                        <li><a href="components-fancy-lightbox.html"><i class="zmdi zmdi-long-arrow-right"></i> جعبه تصویر فانسی</a></li>
                        <li><a href="components-color-palette.html"><i class="zmdi zmdi-long-arrow-right"></i> پالت رنگ</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javaScript:void();" class="waves-effect">
                        <i class="zmdi zmdi-chart"></i> <span>نمودار ها</span>
                        <i class="fa fa-angle-left float-right"></i>
                    </a>
                    <ul class="sidebar-submenu">
                        <li><a href="charts-chartjs.html"><i class="zmdi zmdi-long-arrow-right"></i> نمودار JS</a></li>
                        <li><a href="charts-morris.html"><i class="zmdi zmdi-long-arrow-right"></i> نمودار موریس</a></li>
                        <li><a href="charts-sparkline.html"><i class="zmdi zmdi-long-arrow-right"></i> نمودار اسپارک لاین</a></li>
                        <li><a href="charts-peity.html"><i class="zmdi zmdi-long-arrow-right"></i> نمودار پی تی</a></li>
                        <li><a href="charts-other.html"><i class="zmdi zmdi-long-arrow-right"></i> سایر نمودار ها</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javaScript:void();" class="waves-effect">
                        <i class="zmdi zmdi-invert-colors"></i> <span>آیکون ها</span>
                        <i class="fa fa-angle-left float-right"></i>
                    </a>
                    <ul class="sidebar-submenu">
                        <li><a href="icons-font-awesome.html"><i class="zmdi zmdi-long-arrow-right"></i> Font Awesome</a></li>
                        <li><a href="icons-material-designs.html"><i class="zmdi zmdi-long-arrow-right"></i> طراحی اصولی</a></li>
                        <li><a href="icons-themify.html"><i class="zmdi zmdi-long-arrow-right"></i> آیکون های Themify</a></li>
                        <li><a href="icons-simple-line-icons.html"><i class="zmdi zmdi-long-arrow-right"></i> آیکون های خطی</a></li>
                        <li><a href="icons-flags.html"><i class="zmdi zmdi-long-arrow-right"></i> آیکون های پرچم</a></li>
                    </ul>
                </li>
                <li>
                    <a href="calendar.html" class="waves-effect">
                        <i class="zmdi zmdi-calendar-check"></i> <span>تقویم</span>
                        <small class="badge float-right badge-light">جدید</small>
                    </a>
                </li>

                <li>
                    <a href="javaScript:void();" class="waves-effect">
                        <i class="zmdi zmdi-email"></i>
                        <span>صندوق پستی</span>
                        <small class="badge float-right badge-warning">12</small>
                    </a>
                    <ul class="sidebar-submenu">
                        <li><a href="mail-inbox.html"><i class="zmdi zmdi-long-arrow-right"></i> صندوق ورودی</a></li>
                        <li><a href="mail-compose.html"><i class="zmdi zmdi-long-arrow-right"></i> نوشتن</a></li>
                        <li><a href="mail-read.html"><i class="zmdi zmdi-long-arrow-right"></i> پست الکترونیکی</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javaScript:void();" class="waves-effect">
                        <i class="zmdi zmdi-format-list-bulleted"></i> <span>فرم ها</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="sidebar-submenu">
                        <li><a href="form-inputs.html"><i class="zmdi zmdi-long-arrow-right"></i> ورودی های پایه</a></li>
                        <li><a href="form-input-group.html"><i class="zmdi zmdi-long-arrow-right"></i> گروه های ورودی</a></li>
                        <li><a href="form-layouts.html"><i class="zmdi zmdi-long-arrow-right"></i> طرح بندی فرم</a></li>
                        <li><a href="form-advanced.html"><i class="zmdi zmdi-long-arrow-right"></i> فرم پیشرفته</a></li>
                        <li><a href="form-uploads.html"><i class="zmdi zmdi-long-arrow-right"></i> فرم ارسال</a></li>
                        <li><a href="form-validation.html"><i class="zmdi zmdi-long-arrow-right"></i> اعتبار سنجی فرم</a></li>
                        <li><a href="form-step-wizard.html"><i class="zmdi zmdi-long-arrow-right"></i> فرم پیشرفته</a></li>
                        <li><a href="form-text-editor.html"><i class="zmdi zmdi-long-arrow-right"></i> ویرایشگر فرم</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javaScript:void();" class="waves-effect">
                        <i class="zmdi zmdi-lock"></i> <span>احراز هویت</span>
                        <i class="fa fa-angle-left float-right"></i>
                    </a>
                    <ul class="sidebar-submenu">
                        <li><a href="authentication-signin.html"><i class="zmdi zmdi-long-arrow-right"></i> ورود 1</a></li>
                        <li><a href="authentication-signup.html"><i class="zmdi zmdi-long-arrow-right"></i> ثبت نام 1</a></li>
                        <li><a href="authentication-signin2.html"><i class="zmdi zmdi-long-arrow-right"></i> ورود 2</a></li>
                        <li><a href="authentication-signup2.html"><i class="zmdi zmdi-long-arrow-right"></i> ثبت نام 2</a></li>
                        <li><a href="authentication-lock-screen.html"><i class="zmdi zmdi-long-arrow-right"></i> قفل صفحه</a></li>
                        <li><a href="authentication-reset-password.html"><i class="zmdi zmdi-long-arrow-right"></i> بازیابی رمز عبور 1</a></li>
                        <li><a href="authentication-reset-password2.html"><i class="zmdi zmdi-long-arrow-right"></i> بازیابی رمز عبور 2</a></li>
                    </ul>
                </li>

                <li>
                    <a href="widgets.html" class="waves-effect">
                        <i class="zmdi zmdi-widgets"></i> <span>ابزارک ها</span>
                        <small class="badge float-right badge-danger">10</small>
                    </a>
                </li>

                <li>
                    <a href="javaScript:void();" class="waves-effect">
                        <i class="zmdi zmdi-grid"></i> <span>جداول</span>
                        <i class="fa fa-angle-left float-right"></i>
                    </a>
                    <ul class="sidebar-submenu">
                        <li><a href="table-simple-tables.html"><i class="zmdi zmdi-long-arrow-right"></i> جداول ساده</a></li>
                        <li><a href="table-data-tables.html"><i class="zmdi zmdi-long-arrow-right"></i> جداول داده</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javaScript:void();" class="waves-effect">
                        <i class="zmdi zmdi-map"></i> <span>نقشه ها</span>
                        <i class="fa fa-angle-left float-right"></i>
                    </a>
                    <ul class="sidebar-submenu">
                        <li><a href="maps-google.html"><i class="zmdi zmdi-long-arrow-right"></i> نقشه گوگل</a></li>
                        <li><a href="maps-vector.html"><i class="zmdi zmdi-long-arrow-right"></i> نقشه برداری</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javaScript:void();" class="waves-effect">
                        <i class="zmdi zmdi-collection-folder-image"></i> <span>صفحات نمونه</span>
                        <i class="fa fa-angle-left float-right"></i>
                    </a>
                    <ul class="sidebar-submenu">
                        <li><a href="pages-invoice.html"><i class="zmdi zmdi-long-arrow-right"></i> صورت حساب</a></li>
                        <li><a href="pages-user-profile.html"><i class="zmdi zmdi-long-arrow-right"></i> مشخصات کاربر</a></li>
                        <li><a href="pages-blank-page.html"><i class="zmdi zmdi-long-arrow-right"></i> صفحه خالی</a></li>
                        <li><a href="pages-coming-soon.html"><i class="zmdi zmdi-long-arrow-right"></i> به زودی</a></li>
                        <li><a href="pages-403.html"><i class="zmdi zmdi-long-arrow-right"></i> 403 ارور</a></li>
                        <li><a href="pages-404.html"><i class="zmdi zmdi-long-arrow-right"></i> 404 ارور</a></li>
                        <li><a href="pages-500.html"><i class="zmdi zmdi-long-arrow-right"></i> 500 ارور</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javaScript:void();" class="waves-effect">
                        <i class="fa fa-share"></i> <span>چند سطحی</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="sidebar-submenu">
                        <li><a href="javaScript:void();"><i class="zmdi zmdi-long-arrow-right"></i> سطح اول</a></li>
                        <li>
                            <a href="javaScript:void();"><i class="zmdi zmdi-long-arrow-right"></i> سطح اول <i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="sidebar-submenu">
                                <li><a href="javaScript:void();"><i class="zmdi zmdi-long-arrow-right"></i> سطح دوم</a></li>
                                <li>
                                    <a href="javaScript:void();"><i class="zmdi zmdi-long-arrow-right"></i> سطح دوم <i class="fa fa-angle-left pull-right"></i></a>
                                    <ul class="sidebar-submenu">
                                        <li><a href="javaScript:void();"><i class="zmdi zmdi-long-arrow-right"></i> سطح سوم</a></li>
                                        <li><a href="javaScript:void();"><i class="zmdi zmdi-long-arrow-right"></i> سطح سوم</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="javaScript:void();" class="waves-effect"><i class="zmdi zmdi-long-arrow-right"></i> سطح اول</a></li>
                    </ul>
                </li>
                <li class="sidebar-header">برچسب ها</li>
                <li><a href="javaScript:void();" class="waves-effect"><i class="zmdi zmdi-coffee text-danger"></i> <span>مهم</span></a></li>
                <li><a href="javaScript:void();" class="waves-effect"><i class="zmdi zmdi-chart-donut text-success"></i> <span>هشدار</span></a></li>
                <li><a href="javaScript:void();" class="waves-effect"><i class="zmdi zmdi-share text-info"></i> <span>اطلاعات</span></a></li>
            </ul>

        </div>
        <!--End sidebar-wrapper-->
        <!--Start topbar header-->
        <header class="topbar-nav">
            <nav class="navbar navbar-expand fixed-top">
                <ul class="navbar-nav mr-auto align-items-center">
                    <li class="nav-item">
                        <a class="nav-link toggle-menu" href="javascript:void();">
                            <i class="icon-menu menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <form class="search-bar">
                            <input type="text" class="form-control" placeholder="کلمات کلیدی را وارد کنید">
                            <a href="javascript:void();"><i class="icon-magnifier"></i></a>
                        </form>
                    </li>
                </ul>

                <ul class="navbar-nav align-items-center right-nav-link">
                    <li class="nav-item dropdown-lg">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();">
                            <i class="fa fa-envelope-open-o"></i><span class="badge badge-light badge-up">12</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    شما 12 پیام جدید دارید
                                    <span class="badge badge-light">12</span>
                                </li>
                                <li class="list-group-item">
                                    <a href="javaScript:void();">
                                        <div class="media">
                                            <div class="avatar"><img class="align-self-start mr-3" src="~/Admin/assets/images/avatars/avatar-5.png" alt="user avatar"></div>
                                            <div class="media-body">
                                                <h6 class="mt-0 msg-title">اسم فرضی</h6>
                                                <p class="msg-info">لورم ایپسوم متن ساختگی با تولید...</p>
                                                <small>امروز، 4:10 بعد از ظهر</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="javaScript:void();">
                                        <div class="media">
                                            <div class="avatar"><img class="align-self-start mr-3" src="~/Admin/assets/images/avatars/avatar-6.png" alt="user avatar"></div>
                                            <div class="media-body">
                                                <h6 class="mt-0 msg-title">سالا جن</h6>
                                                <p class="msg-info">لورم ایپسوم متن ساختگی با تولید...</p>
                                                <small>دیروز، 8:30 صبح</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="javaScript:void();">
                                        <div class="media">
                                            <div class="avatar"><img class="align-self-start mr-3" src="~/Admin/assets/images/avatars/avatar-7.png" alt="user avatar"></div>
                                            <div class="media-body">
                                                <h6 class="mt-0 msg-title">دنیش جوش</h6>
                                                <p class="msg-info">لورم ایپسوم متن ساختگی با تولید...</p>
                                                <small>5/11/2018، 2:50 بعد از ظهر</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="javaScript:void();">
                                        <div class="media">
                                            <div class="avatar"><img class="align-self-start mr-3" src="~/Admin/assets/images/avatars/avatar-8.png" alt="user avatar"></div>
                                            <div class="media-body">
                                                <h6 class="mt-0 msg-title">کاترینا مکوی</h6>
                                                <p class="msg-info">لورم ایپسوم متن ساختگی با تولید.</p>
                                                <small>1/11/2018، 2:50 بعد از ظهر</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-group-item text-center"><a href="javaScript:void();">همه پیام ها را ببینید</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item dropdown-lg">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();">
                            <i class="fa fa-bell-o"></i><span class="badge badge-info badge-up">14</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    شما 14 اطلاعیه دارید
                                    <span class="badge badge-info">14</span>
                                </li>
                                <li class="list-group-item">
                                    <a href="javaScript:void();">
                                        <div class="media">
                                            <i class="zmdi zmdi-accounts fa-2x mr-3 text-info"></i>
                                            <div class="media-body">
                                                <h6 class="mt-0 msg-title">جدید کاربران ثبت شده</h6>
                                                <p class="msg-info">لورم ایپسوم متن ساختگی با تولید...</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="javaScript:void();">
                                        <div class="media">
                                            <i class="zmdi zmdi-coffee fa-2x mr-3 text-warning"></i>
                                            <div class="media-body">
                                                <h6 class="mt-0 msg-title">سفارشات جدید دریافت شده</h6>
                                                <p class="msg-info">لورم ایپسوم متن ساختگی با تولید...</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="javaScript:void();">
                                        <div class="media">
                                            <i class="zmdi zmdi-notifications-active fa-2x mr-3 text-danger"></i>
                                            <div class="media-body">
                                                <h6 class="mt-0 msg-title">به روز رسانی های جدید</h6>
                                                <p class="msg-info">لورم ایپسوم متن ساختگی با تولید...</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-group-item text-center"><a href="javaScript:void();">تمام اطلاعیه ها را ببینید</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item language">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();"><i class="fa fa-flag"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-item"> <i class="flag-icon flag-icon-gb mr-2"></i> انگلیسی</li>
                            <li class="dropdown-item"> <i class="flag-icon flag-icon-fr mr-2"></i> فرانسوی</li>
                            <li class="dropdown-item"> <i class="flag-icon flag-icon-cn mr-2"></i> چینی</li>
                            <li class="dropdown-item"> <i class="flag-icon flag-icon-de mr-2"></i> آلمانی</li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
                            <span class="user-profile"><img src="~/Admin/assets/images/avatars/avatar-13.png" class="img-circle" alt="user avatar"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-item user-details">
                                <a href="javaScript:void();">
                                    <div class="media">
                                        <div class="avatar"><img class="align-self-start mr-3" src="~/Admin/assets/images/avatars/avatar-13.png" alt="user avatar"></div>
                                        <div class="media-body">
                                            <h6 class="mt-2 user-title">سارا جان مکوئی</h6>
                                            <p class="user-subtitle">mccoy@example.com</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><i class="icon-envelope mr-2"></i> صندوق ورودی</li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><i class="icon-wallet mr-2"></i> حساب</li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><i class="icon-settings mr-2"></i> تنظیمات</li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><i class="icon-power mr-2"></i> خروج</li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <!--End topbar header-->

        <div class="clearfix"></div>

        <div class="content-wrapper">
            <div class="container-fluid">

                <!--Start Dashboard Content-->

                @RenderBody()

                <div class="row">
                    <div class="col-12 col-lg-8 col-xl-8">
                        <div class="card">
                            <div class="card-header">
                                ترافیک سایت
                                <div class="card-action">
                                    <div class="dropdown">
                                        <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
                                            <i class="icon-options"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="javascript:void();">اقدام</a>
                                            <a class="dropdown-item" href="javascript:void();">اقدام دیگر</a>
                                            <a class="dropdown-item" href="javascript:void();">چیز دیگری اینجاست</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="javascript:void();">پیوند جدا شده</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><i class="fa fa-circle mr-2 text-white"></i>بازدید کننده جدید</li>
                                    <li class="list-inline-item"><i class="fa fa-circle mr-2 text-light"></i>بازدید کننده قدیم</li>
                                </ul>
                                <canvas id="chart1" height="115"></canvas>
                            </div>

                            <div class="row m-0 row-group text-center border-top border-light-3">
                                <div class="col-12 col-lg-4">
                                    <div class="p-3">
                                        <h5 class="mb-0">45.87M</h5>
                                        <small class="mb-0">بازدید کننده به طور کلی <span> <i class="fa fa-arrow-up"></i> 2.43%</span></small>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="p-3">
                                        <h5 class="mb-0">15:48</h5>
                                        <small class="mb-0">مدت بازدید کننده <span> <i class="fa fa-arrow-up"></i> 12.65%</span></small>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="p-3">
                                        <h5 class="mb-0">245.65</h5>
                                        <small class="mb-0">صفحات / بازدید <span> <i class="fa fa-arrow-up"></i> 5.62%</span></small>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-12 col-lg-4 col-xl-4">
                        <div class="card">
                            <div class="card-header">
                                فروش هفتگی
                                <div class="card-action">
                                    <div class="dropdown">
                                        <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
                                            <i class="icon-options"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="javascript:void();">اقدام</a>
                                            <a class="dropdown-item" href="javascript:void();">اقدام دیگر</a>
                                            <a class="dropdown-item" href="javascript:void();">چیز دیگری اینجاست</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="javascript:void();">پیوند جدا شده</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <canvas id="chart2" height="180"></canvas>
                            </div>
                            <div class="table-responsive">
                                <table class="table align-items-center">
                                    <tbody>
                                        <tr>
                                            <td><i class="fa fa-circle text-white mr-2"></i> مستقیم</td>
                                            <td>5858 تومان</td>
                                            <td>+55%</td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-circle text-light-1 mr-2"></i>وابسته</td>
                                            <td>2602 تومان</td>
                                            <td>+25%</td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-circle text-light-2 mr-2"></i>ایمیل</td>
                                            <td>1802 تومان</td>
                                            <td>+15%</td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-circle text-light-3 mr-2"></i>سایر</td>
                                            <td>1105 تومان</td>
                                            <td>+5%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!--End Row-->

                <div class="row">
                    <div class="col-12 col-lg-6 col-xl-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="media align-items-center">
                                    <div class="w_chart easy-dash-chart" data-percent="60">
                                        <span class="w_percent"></span>
                                    </div>
                                    <div class="media-body ml-3">
                                        <h6 class="mb-0">دنبال کنندگان فیس بوک</h6>
                                        <small class="mb-0">22.14% <i class="fa fa-arrow-up"></i> از هفته گذشته</small>
                                    </div>
                                    <i class="fa fa-facebook text-white text-right fa-2x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="media align-items-center">
                                    <div class="w_chart easy-dash-chart" data-percent="65">
                                        <span class="w_percent"></span>
                                    </div>
                                    <div class="media-body ml-3">
                                        <h6 class="mb-0">توییت توییتر</h6>
                                        <small class="mb-0">32.15% <i class="fa fa-arrow-up"></i> از هفته گذشته</small>
                                    </div>
                                    <i class="fa fa-twitter text-white text-right fa-2x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-12 col-xl-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="media align-items-center">
                                    <div class="w_chart easy-dash-chart" data-percent="75">
                                        <span class="w_percent"></span>
                                    </div>
                                    <div class="media-body ml-3">
                                        <h6 class="mb-0">مشترکان یوتیوب</h6>
                                        <small class="mb-0">58.24% <i class="fa fa-arrow-up"></i> از هفته گذشته</small>
                                    </div>
                                    <i class="fa fa-youtube text-white fa-2x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--End Row-->


                <div class="row">
                    <div class="col-12 col-lg-12 col-xl-6">
                        <div class="card">
                            <div class="card-header">
                                منطقه فروش جهانی
                                <div class="card-action">
                                    <div class="dropdown">
                                        <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
                                            <i class="icon-options"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="javascript:void();">اقدام</a>
                                            <a class="dropdown-item" href="javascript:void();">اقدام دیگر</a>
                                            <a class="dropdown-item" href="javascript:void();">چیز دیگری اینجاست</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="javascript:void();">پیوند جدا شده</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div id="dashboard-map" style="height: 270px;"></div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover align-items-center">
                                    <thead>
                                        <tr>
                                            <th>کشور</th>
                                            <th>درآمد</th>
                                            <th>روند</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><i class="flag-icon flag-icon-ca mr-2"></i> امریکا</td>
                                            <td>4,568 تومان</td>
                                            <td><span id="trendchart1"></span></td>
                                        </tr>
                                        <tr>
                                            <td><i class="flag-icon flag-icon-us mr-2"></i>کانادا</td>
                                            <td>2,098 تومان</td>
                                            <td><span id="trendchart2"></span></td>
                                        </tr>

                                        <tr>
                                            <td><i class="flag-icon flag-icon-in mr-2"></i>هند</td>
                                            <td>3,039 تومان</td>
                                            <td><span id="trendchart3"></span></td>
                                        </tr>

                                        <tr>
                                            <td><i class="flag-icon flag-icon-gb mr-2"></i>انگلیس</td>
                                            <td>2,309 تومان</td>
                                            <td><span id="trendchart4"></span></td>
                                        </tr>

                                        <tr>
                                            <td><i class="flag-icon flag-icon-de mr-2"></i>المان</td>
                                            <td>7,209 تومان</td>
                                            <td><span id="trendchart5"></span></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-12 col-xl-6">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="card">
                                    <div class="card-body">
                                        <p>بازدید صفحه</p>
                                        <h4 class="mb-0">8,293 <small class="small-font">5.2% <i class="zmdi zmdi-long-arrow-up"></i></small></h4>
                                    </div>
                                    <canvas id="chart3" height="180"></canvas>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="card">
                                    <div class="card-body">
                                        <p>کل کلیک ها</p>
                                        <h4 class="mb-0">7,493 <small class="small-font">1.4% <i class="zmdi zmdi-long-arrow-up"></i></small></h4>
                                    </div>
                                    <canvas id="chart4" height="180"></canvas>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p class="mb-4">تعداد کل دریافت ها</p>
                                        <input class="knob" data-width="175" data-height="175" data-readOnly="true" data-thickness=".2" data-angleoffset="90" data-linecap="round" data-bgcolor="rgba(255, 255, 255, 0.14)" data-fgcolor="#fff" data-max="15000" value="8550" />
                                        <hr>
                                        <p class="mb-0 small-font text-center">3.4% <i class="zmdi zmdi-long-arrow-up"></i> از دیروز</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="card">
                                    <div class="card-body">
                                        <p>ذخیره سازی دستگاه</p>
                                        <h4 class="mb-3">42620/50000</h4>
                                        <hr>
                                        <div class="progress-wrapper mb-4">
                                            <p>اسناد <span class="float-right">12گیگابایت</span></p>
                                            <div class="progress" style="height:5px;">
                                                <div class="progress-bar" style="width:80%"></div>
                                            </div>
                                        </div>

                                        <div class="progress-wrapper mb-4">
                                            <p>تصاویر <span class="float-right">10گیگابایت</span></p>
                                            <div class="progress" style="height:5px;">
                                                <div class="progress-bar" style="width:60%"></div>
                                            </div>
                                        </div>

                                        <div class="progress-wrapper mb-4">
                                            <p>ایمیل ها <span class="float-right">5گیگابایت</span></p>
                                            <div class="progress" style="height:5px;">
                                                <div class="progress-bar" style="width:40%"></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!--End Row-->


                <div class="row">
                    <div class="col-12 col-lg-6 col-xl-4">
                        <div class="card">
                            <div class="card-body">
                                <p>مجموع درآمد</p>
                                <h4 class="mb-0">287,493$</h4>
                                <small>1.4% <i class="zmdi zmdi-long-arrow-up"></i> از ماه گذشته</small>
                                <hr>
                                <p>Total Sales</p>
                                <h4 class="mb-0">87,493</h4>
                                <small>5.43% <i class="zmdi zmdi-long-arrow-up"></i> از ماه گذشته</small>
                                <div class="mt-5">
                                    <canvas id="chart5" height="160"></canvas>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-12 col-lg-6 col-xl-8">
                        <div class="card">
                            <div class="card-header">
                                بررسی مشتری
                                <div class="card-action">
                                    <div class="dropdown">
                                        <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
                                            <i class="icon-options"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="javascript:void();">اقدام</a>
                                            <a class="dropdown-item" href="javascript:void();">اقدام دیگر</a>
                                            <a class="dropdown-item" href="javascript:void();">چیز دیگری اینجاست</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="javascript:void();">پیوند جدا شده</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="media align-items-center">
                                        <img src="~/Admin/assets/images/avatars/avatar-13.png" alt="user avatar" class="customer-img rounded-circle">
                                        <div class="media-body ml-3">
                                            <h6 class="mb-0">ایفون ایکس <small class="ml-4">08.34 صبح</small></h6>
                                            <p class="mb-0 small-font">سارا ژان: این تلفن بسیار خوب در بودجه کم است.</p>
                                        </div>
                                        <div class="star">
                                            <i class="zmdi zmdi-star"></i>
                                            <i class="zmdi zmdi-star"></i>
                                            <i class="zmdi zmdi-star"></i>
                                            <i class="zmdi zmdi-star text-light"></i>
                                            <i class="zmdi zmdi-star text-light"></i>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="media align-items-center">
                                        <img src="~/Admin/assets/images/avatars/avatar-15.png" alt="user avatar" class="customer-img rounded-circle">
                                        <div class="media-body ml-3">
                                            <h6 class="mb-0">ایر پاد <small class="ml-4">05.26 بعد از ظهر</small></h6>
                                            <p class="mb-0 small-font">جاش دانمارکی: سیب نام تجاری اصلی است !</p>
                                        </div>
                                        <div class="star">
                                            <i class="zmdi zmdi-star"></i>
                                            <i class="zmdi zmdi-star"></i>
                                            <i class="zmdi zmdi-star"></i>
                                            <i class="zmdi zmdi-star text-light"></i>
                                            <i class="zmdi zmdi-star text-light"></i>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="media align-items-center">
                                        <img src="~/Admin/assets/images/avatars/avatar-14.png" alt="user avatar" class="customer-img rounded-circle">
                                        <div class="media-body ml-3">
                                            <h6 class="mb-0">مکبوک پرو <small class="ml-4">06.45 صبح</small></h6>
                                            <p class="mb-0 small-font">اسم فرضی: محصول عالی و کیفیت عالی</p>
                                        </div>
                                        <div class="star">
                                            <i class="zmdi zmdi-star"></i>
                                            <i class="zmdi zmdi-star"></i>
                                            <i class="zmdi zmdi-star"></i>
                                            <i class="zmdi zmdi-star text-light"></i>
                                            <i class="zmdi zmdi-star text-light"></i>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="media align-items-center">
                                        <img src="~/Admin/assets/images/avatars/avatar-16.png" alt="user avatar" class="customer-img rounded-circle">
                                        <div class="media-body ml-3">
                                            <h6 class="mb-0">ایر پاد <small class="ml-4">08.45 صبح</small></h6>
                                            <p class="mb-0 small-font">کریستین: سیب نام تجاری اصلی است !</p>
                                        </div>
                                        <div class="star">
                                            <i class="zmdi zmdi-star"></i>
                                            <i class="zmdi zmdi-star"></i>
                                            <i class="zmdi zmdi-star"></i>
                                            <i class="zmdi zmdi-star"></i>
                                            <i class="zmdi zmdi-star text-light"></i>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="media align-items-center">
                                        <img src="~/Admin/assets/images/avatars/avatar-17.png" alt="user avatar" class="customer-img rounded-circle">
                                        <div class="media-body ml-3">
                                            <h6 class="mb-0">مکبوک <small class="ml-4">08.45 صبح</small></h6>
                                            <p class="mb-0 small-font">مایکل: سیب نام تجاری اصلی است !</p>
                                        </div>
                                        <div class="star">
                                            <i class="zmdi zmdi-star"></i>
                                            <i class="zmdi zmdi-star"></i>
                                            <i class="zmdi zmdi-star"></i>
                                            <i class="zmdi zmdi-star"></i>
                                            <i class="zmdi zmdi-star text-light"></i>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!--End Row-->

                <div class="row">
                    <div class="col-12 col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                جداول اخیر سفارش
                                <div class="card-action">
                                    <div class="dropdown">
                                        <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
                                            <i class="icon-options"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="javascript:void();">اقدام</a>
                                            <a class="dropdown-item" href="javascript:void();">اقدام دیگر</a>
                                            <a class="dropdown-item" href="javascript:void();">چیز دیگری اینجاست</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="javascript:void();">پیوند جدا شده</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush table-borderless">
                                    <thead>
                                        <tr>
                                            <th>محصول</th>
                                            <th>عکس</th>
                                            <th>شناسه محصول</th>
                                            <th>درامد</th>
                                            <th>تاریخ</th>
                                            <th>حمل و نقل</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>ایفون 5</td>
                                            <td><img src="~/Admin/assets/images/products/01.png" class="product-img" alt="product img"></td>
                                            <td>#9405822</td>
                                            <td>1250.00 تومان</td>
                                            <td>03 آگوست 2017</td>
                                            <td>
                                                <div class="progress shadow" style="height: 3px;">
                                                    <div class="progress-bar" role="progressbar" style="width: 90%"></div>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>گوشی ال جی</td>
                                            <td><img src="~/Admin/assets/images/products/02.png" class="product-img" alt="product img"></td>
                                            <td>#9405820</td>
                                            <td>1500.00 تومان</td>
                                            <td>03 آگوست 2017</td>
                                            <td>
                                                <div class="progress shadow" style="height: 3px;">
                                                    <div class="progress-bar" role="progressbar" style="width: 60%"></div>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>دوربین دست HD</td>
                                            <td><img src="~/Admin/assets/images/products/03.png" class="product-img" alt="product img"></td>
                                            <td>#9405830</td>
                                            <td>$ 1400.00</td>
                                            <td>03 آگوست 2017</td>
                                            <td>
                                                <div class="progress shadow" style="height: 3px;">
                                                    <div class="progress-bar" role="progressbar" style="width: 70%"></div>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>کفش کلاسیک</td>
                                            <td><img src="~/Admin/assets/images/products/04.png" class="product-img" alt="product img"></td>
                                            <td>#9405825</td>
                                            <td>1200.00 تومان</td>
                                            <td>03 آگوست 2017</td>
                                            <td>
                                                <div class="progress shadow" style="height: 3px;">
                                                    <div class="progress-bar" role="progressbar" style="width: 100%"></div>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>ساعت مچی</td>
                                            <td><img src="~/Admin/assets/images/products/05.png" class="product-img" alt="product img"></td>
                                            <td>#9405840</td>
                                            <td>1800.00 تومان</td>
                                            <td>03 آگوست 2017</td>
                                            <td>
                                                <div class="progress shadow" style="height: 3px;">
                                                    <div class="progress-bar" role="progressbar" style="width: 40%"></div>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>کفش کلاسیک</td>
                                            <td><img src="~/Admin/assets/images/products/06.png" class="product-img" alt="product img"></td>
                                            <td>#9405825</td>
                                            <td>1200.00 تومان</td>
                                            <td>03 آگوست 2017</td>
                                            <td>
                                                <div class="progress shadow" style="height: 3px;">
                                                    <div class="progress-bar" role="progressbar" style="width: 100%"></div>
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!--End Row-->
                <!--End Dashboard Content-->

            </div>
            <!-- End container-fluid-->

        </div><!--End content-wrapper-->
        <!--Start Back To Top Button-->
        <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
        <!--End Back To Top Button-->
        <!--Start footer-->
        <footer class="footer">
            <div class="container">
                <div class="text-center">
                    کپی رایت © 2018 مدیریت داش ترم
                </div>
            </div>
        </footer>
        <!--End footer-->
        <!--start color switcher-->
        <div class="right-sidebar">
            <div class="switcher-icon">
                <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
            </div>
            <div class="right-sidebar-content">

                <p class="mb-0">بافت گاوسی</p>
                <hr>

                <ul class="switcher">
                    <li id="theme1"></li>
                    <li id="theme2"></li>
                    <li id="theme3"></li>
                    <li id="theme4"></li>
                    <li id="theme5"></li>
                    <li id="theme6"></li>
                </ul>

                <p class="mb-0">پس زمینه گرادیان</p>
                <hr>

                <ul class="switcher">
                    <li id="theme7"></li>
                    <li id="theme8"></li>
                    <li id="theme9"></li>
                    <li id="theme10"></li>
                    <li id="theme11"></li>
                    <li id="theme12"></li>
                </ul>

            </div>
        </div>
        <!--end color cwitcher-->

    </div><!--End wrapper-->
    <!-- Bootstrap core JavaScript-->
    <script src="~/Admin/assets/js/jquery.min.js"></script>
    <script src="~/Admin/assets/js/popper.min.js"></script>
    <script src="~/Admin/assets/js/bootstrap.min.js"></script>

    <!-- simplebar js -->
    <script src="~/Admin/assets/plugins/simplebar/js/simplebar.js"></script>
    <!-- sidebar-menu js -->
    <script src="~/Admin/assets/js/sidebar-menu.js"></script>
    <!-- loader scripts -->
    <script src="~/Admin/assets/js/jquery.loading-indicator.html"></script>
    <!-- Custom scripts -->
    <script src="~/Admin/assets/js/app-script.js"></script>
    <!-- Chart js -->

    <script src="~/Admin/assets/plugins/Chart.js/Chart.min.js"></script>
    <!-- Vector map JavaScript -->
    <script src="~/Admin/assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/Admin/assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- Easy Pie Chart JS -->
    <script src="~/Admin/assets/plugins/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <!-- Sparkline JS -->
    <script src="~/Admin/assets/plugins/sparkline-charts/jquery.sparkline.min.js"></script>
    <script src="~/Admin/assets/plugins/jquery-knob/excanvas.js"></script>
    <script src="~/Admin/assets/plugins/jquery-knob/jquery.knob.js"></script>

    <script>
        $(function() {
            $(".knob").knob();
        });
    </script>
    <!-- Index js -->
    <script src="~/Admin/assets/js/index.js"></script>


</body>


<!-- Mirrored from rtl-preview.ir/RTL/dashtreme/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 26 Dec 2020 23:05:57 GMT -->
</html>
