@model Pharmacy.Application.DTO.Account.ChangePasswordDto


@{
    ViewData["Title"] = "تغییر رمز عبور";
}


<partial name="_JqueryValidators" />



<section class="content my-xl-3 my-5 py-xl-4 py-5">
    <div class="container-fluid">
        <div class="row gy-3">
            <!-- side nav -->
            <div class="col-xl-3">
                <!--   start panel menu mobile  -->
                @await Component.InvokeAsync("UserMobileDashboard")
                <!--   end panel menu mobile   -->
                <!--   start panel menu desktop  -->
                @await Component.InvokeAsync("UserSidebarDashboard")
                <!--   end panel menu desktop  -->
            </div>
            <!-- main content -->
            <div class="col-xl-9">
                <!-- status card -->
                <form asp-area="User" asp-controller="Account" asp-action="ChangePassword" method="post" >
                   
                    <div class="row g-4 bg-white">
                        <h2 class="text-right h4  title-font">تغییر رمز عبور</h2>
                        <div class="col-md-4">
                            <div class="comment-item">
                                <input asp-for="CurrentPassword" type="password" class="form-control" placeholder="رمز عبور فعلی...">
                                <label class="form-label label-float fw-bold ">
                                    رمز عبور فعلی
                                    <span class="text-danger">*</span>
                                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="comment-item">
                                <input asp-for="NewPassword" type="password" class="form-control" placeholder="رمز عبور جدید">
                                <label class="form-label label-float fw-bold">
                                    رمز عبور جدید
                                    <span class="text-danger">*</span>
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="comment-item">
                                <input asp-for="ConfirmNewPassword" type="password" class="form-control" placeholder="تکرار رمز عبور جدید">
                                <label class="form-label label-float fw-bold">
                                    تکرار رمز عبور جدید
                                    <span class="text-danger">*</span>
                                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <button type="submit" class="btn main-color-one-bg border-0">
                                    ثبت اطلاعات
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>