@model Pharmacy.Application.DTO.Account.EditUserProfileDto



@{
	ViewData["Title"] = "ویرایش پروفایل کاربری";
}

@section script {
	<partial name="_JqueryValidators" />
}



<section class="content my-xl-3 my-5 py-xl-4 py-5">
	<div class="container-fluid">
		<div class="row gy-3">
			<!-- side nav -->
			<div class="col-xl-3">
				<!--   start panel menu mobile  -->
				@await Component.InvokeAsync("UserMobileDashboard")
				<!--   end panel menu mobile   -->
				<!--   start panel menu desktop  -->
				@await Component.InvokeAsync("UserSidebarDashboard")
				<!--   end panel menu desktop  -->
			</div>
			<!-- main content -->
			<div class="col-xl-9">
				<!-- status card -->
				<form asp-area="User" asp-controller="Account" asp-action="EditProfile" method="post" enctype="multipart/form-data">
					@*    <input type="hidden" asp-for="Id" /> *@
					<div class="row g-4 bg-white">
						<h2 class="text-right h4  title-font">ویرایش پروفایل کاربری</h2>
						<div class="col-md-4">
							<div class="comment-item">
								<input asp-for="FirstName" type="text" class="form-control" placeholder="نام خود را وارد کنید...">
								<label class="form-label label-float fw-bold font-16">
									نام
									<span class="text-danger">*</span>
									<span asp-validation-for="FirstName" class="text-danger"></span>
								</label>
							</div>
						</div>
						<div class="col-md-4">
							<div class="comment-item">
								<input asp-for="LastName" type="text" class="form-control" placeholder="نام خانوادگی خود را وارد کنید ...">
								<label class="form-label label-float fw-bold">
									نام خانوادگی
									<span class="text-danger">*</span>
									<span asp-validation-for="FirstName" class="text-danger"></span>
								</label>
							</div>
						</div>
						<div class="col-md-4">
							<div class="comment-item">
								<input asp-for="Email" type="text" class="form-control" placeholder="ایمیل خود را وارد کنید">
								<label class="form-label label-float fw-bold">
									ایمیل
								</label>
							</div>
						</div>
						<div class="col-md-12">
							<div class="comment-item">
								<div class="card-body">
									<div class="account-settings d-flex align-items-center">
										<div class="form-group">
											<label class="form-label">بارگذاری عکس پروفایل</label>
											<input asp-for="Avatar" type="file" class="form-control">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<button type="submit" class="btn main-color-one-bg border-0">
									ویرایش
								</button>

								<a onclick=" history.back()" class="btn main-color-one-bg border-0">
									ویرایش
								</a>
							</div>
							<div class="col-6">
								<div class="form-group">
									<a asp-controller="Home" asp-action="Dashboard" class="btn main-color-one-bg border-0">
										ویرایش
									</a>


								</div>
							</div>
						</div>
				</form>
			</div>
		</div>
	</div>
</section>